@import "tailwindcss";

body {
  font-family: "Arial", sans-serif;
  transition: background-color 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

.animate-fade-in-out {
  animation: fade-in-out 3s ease-in-out forwards;
}

.animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
}
.positive {
  color: red; /* +ve for Mafia */
}
.negative {
  color: green; /* -ve for Not Mafia */
}